<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>wanderlust</title>
</head>
<body>
  <ul>
    <li><%= showDetails.title %></li>
    <li><%= showDetails.description %></li>
    <li>Price: &#x20b9; <%= showDetails.price.toLocaleString("en-IN") %></li>    
    <li><%= showDetails.country %></li>
  </ul>
</body>
</html>